<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {color: red;}
        </style>
    </head>
<body>
    <div style='float: right; word-spacing:0.5em;'>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>

    <div style='word-spacing:0.3em'>
            <a href='/Home'>Main Page</a>
            <a href="/blog">All Posts</a>
            <a href='/newpost'>Add a Entry</a>
    </div>


    {% block content %}
    {% endblock %}

</body>
</html> 